body {
    background-color: lightblue
}

.selected {
    border-color: green;
    background-color: green;
}

.today {
    background-color: orange;
    border-color: orange;
}

.days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 32px);
    gap: 10px;
}